{% extends 'table.html.twig' %}

{% block title %}Patient{% endblock %}
{% block tablename %}Vue Patient{% endblock %}
{% block button %}
    <a href="{{ path('app_patient_index') }}" class="btn btn-dark btn-sm">back to list</a>

    <a href="{{ path('app_patient_edit', {'id': patient.id}) }}" class="btn btn-secondary btn-sm  ml-3">edit</a>
{% endblock %}
{% block table %}
<div class="row">
    <div class="col-4">
            {% if patient.image %}
                <img src="{{ asset('uploads/' ~ patient.image) }}" class="img elevation-2" alt="User Avatar" width="200" height="200"  >
            {% endif %}
    </div>
    <div class="col-8">
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ patient.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ patient.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ patient.prenom }}</td>
            </tr>
            <tr>
                <th>Date_de_naissance</th>
                <td>{{ patient.dateDeNaissance ? patient.dateDeNaissance|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ patient.adresse }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ patient.telephone }}</td>
            </tr>
            <tr>
                <th>
                    {{ include('patient/_delete_form.html.twig') }}
                </th>
                
            </tr>
        </tbody>
    </table>
</div>
</div>
    

    
{% endblock %}
