{% extends 'table.html.twig' %}

{% block title %}Service{% endblock %}

{% block tablename %}Liste des services{% endblock %}

{% block message_dismiss %}

   {# message notification ------------------------------------------------- #}
    {% for flashMessage in app.flashes('success') %}
        <div class="alert alert-success alert-dismissible d-flex align-items-center m-3" role="alert">
            <button type="button" class="close" data-dismiss="alert" >&times;</button>
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.flashes('success_delete') %}
        <div class="alert alert-danger alert-dismissible d-flex align-items-center m-3" role="alert">
            <button type="button" class="close" data-dismiss="alert" >&times;</button>
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.flashes('success_edit') %}
        <div class="alert alert-warning alert-dismissible d-flex align-items-center m-3" role="alert">
            <button type="button" class="close" data-dismiss="alert" >&times;</button>
            {{ flashMessage }}
        </div>
    {% endfor %}
    {# message notification ------------------------------------------------- #}


{% endblock %}


{% block button %}
<a href="{{ path('app_service_new') }}" class="btn btn-block btn-info btn-sm" ><i class="fas fa-user-plus mr-2"></i>Nouveau</a>
{% endblock %}
{% block table %}
    <form action="{{ path('app_service_index') }}" method="GET">
    <div class="input-group mb-3 my-3">
        <input type="text" class="form-control mx-2" name="search" placeholder="Rechercher un service" value="{{ searchTerm }}">
            <div class="d-flex">
                <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i></button>
                <button class="btn btn-secondary btn-block mx-2" type="button" onclick="window.location.href='{{ path('app_service_index') }}'">
                    <i class="fas fa-sync-alt"></i> 
                </button>
            </div>
        </div>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% if searchTerm is defined and searchTerm != '' %}
        {% for service in services %}
            {% if searchTerm in service.nom or searchTerm in service.description %}
            <tr>
                <td>{{ service.id }}</td>
                <td>{{ service.nom }}</td>
                <td>{{ service.description }}</td>
                <td>
                    <a href="{{ path('app_service_show', {'id': service.id}) }}">show</a>
                    <a href="{{ path('app_service_edit', {'id': service.id}) }}">edit</a>
                </td>
            </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
    {% else %}
        {% if services is empty %}
        <tr>
                <td colspan="8">No records found</td>
            </tr>
        {% else %}
            {% for service in pagination %}
                 <tr>
                    <td>{{ service.id }}</td>
                    <td>{{ service.nom }}</td>
                    <td>{{ service.description }}</td>
                    <td>
                        <a href="{{ path('app_service_show', {'id': service.id}) }}" class="btn btn-secondary btn-xs"><i class="fas fa-eye mr-1"></i>Voirs</a>
                        <a href="{{ path('app_service_edit', {'id': service.id}) }}" class="btn btn-warning btn-xs ml-2" ><i class="fas fa-edit mr-1"></i>Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">no records found</td>
                </tr>
            {% endfor %}
            {% endif %}
    {% endif %}
    </tbody>
</table>

    {# Pagination #}
        <div class="pagination d-flex justify-content-center mt-3">
            {% if pagination.currentPageNumber != 1 %}
                <a href="{{ path('app_service_index', {'page': pagination.currentPageNumber - 1}) }}" class="btn btn-primary btn-sm mr-2 ">Précédent</a>
            {% endif %}

            {% for page in range(1, pagination.pageCount) %}
                {% if pagination.currentPageNumber == page %}
                    <span class="current-page btn btn-primary btn-sm mr-2">{{ page }}</span>
                {% else %}
                    <a href="{{ path('app_service_index', {'page': page}) }}" class="btn btn-primary btn-sm mr-2">{{ page }}</a>
                {% endif %}
            {% endfor %}

            {% if pagination.currentPageNumber != pagination.pageCount %}
                <a href="{{ path('app_service_index', {'page': pagination.currentPageNumber + 1}) }}" class="btn btn-primary btn-sm">Suivant</a>
            {% endif %}
        </div>
        {# ... #}
    
{% endblock %}
